<div
  class="pdf-dropdown-menu flex flex-col rounded-2xl p-4 lg:min-w-[220px]"
>
  <ul
    class="flex list-none flex-col gap-2 pl-0 text-gray-700 dark:text-zinc-200"
  >
    <li>
      <a
        href="https://documentation-moodle.forge.apps.education.fr/pdf/moodle_v4.1_boost_documentation.pdf"
        class="flex items-center gap-2 text-inherit"
        target="_blank"
      >
        <!--<img
          src="/static/img/undraw_user_flow_re_bvfx.svg"
          width="22"
          height="22"
        />-->
        📄 Moodle4.1 documentation thème boost
      </a>
    </li>
    </li>
  </ul>
</div>