/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8e352d;
  --ifm-color-primary-dark: #803029;
  --ifm-color-primary-darker: #792d26;
  --ifm-color-primary-darkest: #632520;
  --ifm-color-primary-light: #9c3a32;
  --ifm-color-primary-lighter: #a33d34;
  --ifm-color-primary-lightest: #b9453b;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff9152;
  --ifm-color-primary-dark: #ff7c30;
  --ifm-color-primary-darker: #ff711f;
  --ifm-color-primary-darkest: #ec5600;
  --ifm-color-primary-light: #ffa674;
  --ifm-color-primary-lighter: #ffb185;
  --ifm-color-primary-lightest: #ffd1b7;
  --ifm-background-color: #ffffff;
}

img[src*="#printscreen"] {
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
}

img[src*="#droite"] {
  float: right;
  margin-left: 10px;
}

img[src*="#gauche"] {
  float: left;
  margin-right: 10px;
}

img[src*="#colonne"] {
  max-width:50%;
  margin-bottom: 15px;
  display:block;
  clear: both;
}

img[src*="#abc"] {
  margin-right: 10px;
  vertical-align: text-bottom;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  
}

img[src*="#icone"] {
  height: 1em;
  width : auto;
}

img[src*="#bouton"] {
  height: 2em;
  width : auto;
}

p:has(img[src*="#centrer"]) {
  text-align: center;
}
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

h2,h4,.theme-admonition {
  clear:both;
}

.theme-admonition{
  display: inline-block;
  width:100%;
}
